<div class="mx-2 relative">
  <div class="back-icon-container">
    <i class="pi pi-arrow-left" (click)="goBack()"></i>
  </div>
  @if (elevator) {
  <h2>Detail výtahu</h2>
  <hr />
  <div class="grid">
    <div class="col-12 md:col-4">
      <p><strong>Adresa:</strong> {{ elevator.address }}</p>
      <p><strong>Typ:</strong> {{ elevator.type }}</p>
      <p><strong>Model:</strong> {{ elevator.model }}</p>
      <p><strong>Výrobce:</strong> {{ elevator.manufacturer }}</p>
      <p>
        <strong>Stav:</strong>
        <span
          [ngClass]="{
            'text-green-500': elevator.status === 'Aktivní',
            'text-yellow-600': elevator.status === 'Plánovaný servis',
            'text-red-500': elevator.status === 'Mimo provoz'
          }"
        >
          {{ elevator.status }}</span
        >
      </p>
      <p>
        <strong>Datum instalace:</strong>
        {{ elevator.installationDate | dateFormat }}
      </p>
      <p>
        <strong>Poslední servis:</strong>
        {{ elevator.lastService | dateFormat }}
      </p>
    </div>

    <div class="col-12 md:col-4">
      <p><strong>Kapacita:</strong> {{ elevator.capacityKg }} kg</p>
      <p><strong>Max osob:</strong> {{ elevator.maxPersons }}</p>
      <p><strong>Počet zastavení:</strong> {{ elevator.numberOfStops }}</p>
      <p><strong>Servisní firma:</strong> {{ elevator.maintenanceCompany }}</p>
      <p><strong>Kontakt:</strong></p>
      <ul>
        <li class="mb-2">
          <i class="pi pi-user mr-2"></i>{{ elevator.maintenanceContactName }}
        </li>
        <li class="mb-2">
          <i class="pi pi-phone mr-2"></i>{{ elevator.maintenanceContactPhone }}
        </li>
        <li>
          <i class="pi pi-envelope mr-2"></i
          >{{ elevator.maintenanceContactEmail }}
        </li>
      </ul>
    </div>

    <div class="col-12 md:col-4">TBD: MAP</div>

    <div class="col-12">
      <p><strong>Poznámka:</strong> {{ elevator.notes }}</p>
    </div>
    <p-button
      label="Smazat výtah"
      severity="danger"
      size="small"
      class="px-2 pb-2"
      icon="pi pi-exclamation-triangle"
      (click)="deleteElevator()"
    />
    <p-button
      label="Export do CSV"
      size="small"
      class="px-2 pb-2"
      icon="pi pi-file-export"
      (click)="onExport()"
    />
  </div>
  } @else if (elevator === undefined) {
  <div class="flex justify-content-center align-items-center spinner-container">
    <p-progress-spinner ariaLabel="loading" />
  </div>
  } @else {
  <div class="not-found-container">Detail výtahu nebyl nalezen</div>
  }
</div>
